################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotaAutoChecker/obj/Debug/TempPE
